.container-tarefa{
    width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}
.mine-cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.data, .centralizar {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}